@import "tailwindcss";
/* .input {
  @apply w-full rounded-xl border px-4 py-2 text-sm
  focus:outline-none focus:ring-2 focus:ring-blue-500;
} */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Enable horizontal swipe */
.touch-pan-x {
  touch-action: pan-x;
}

/* iOS safe area */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer components {
  .enterprise-input {
    @apply w-full rounded-xl border border-slate-300 bg-white px-4 py-3 text-sm
           focus:outline-none focus:ring-2 focus:ring-blue-500
           disabled:bg-slate-100 disabled:cursor-not-allowed;
  }
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animate-toast-in {
  animation: toast-in 0.35s ease-out forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.35s ease-out;
}

